extends /layouts/main

block append variables

  - var layout_header_class = "main__header_center"
  - var title = 'Инструкции для преподавателя';
  - var sitetoolbar = true
  - var siteToolbarCurrentSection = "courses";

block content

  include:markit instructions.md

