+b.courses-system-req.courses-mix
  +e('h2').title Предварительные требования

  +e.body
    p.
      Для участия в этом курсе необходимо знакомство с HTML/CSS.

    p.
      Знание JavaScript не требуется.
      До начала обучения выдаётся вводный видеокурс по основам языка, особенно полезный для тех, кто начинает с нуля.
