extends /layouts/main

include ./stat

block append variables

  - var layout_header_class = "main__header_center"
  - var layout_main_class = "main_width-limit"
  - var breadcrumbs = [{ title: 'Учебник', url: '/' }, { title: 'Курсы', url: '/courses' }, { title: course.title, url: course.getUrl() }]
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses"
  - var sitetoolbar = true

block append head
  !=js("coursesFeedbackList", {defer: true})
  if user && (user.hasRole('admin') || user.hasRole('teacher'))
    !=js("coursesFeedbackShow", {defer: true})

block content

  +feedback-stat({
    stats: stats
  })

  +b.feedback-policy
    +e.link Политика отзывов javascript.ru
      +e.popup
        +e('ul').list
          li Показываются все опубликованные отзывы, даже если оценка нам "не нравится".
          li Отзывы показываются "как есть", не модерируются, если нет нарушения правил сайта и курса (нецензурная лексика и др).
          li Отзыв может оставить только участник курса, после прохождения.

  +b('section').course-feedbacks._loading
    +e('form')(data-feedback-form).head
      +e('h2').title(hidden data-feedback-count)
        +e('span').title-n
        +e('span').title-t
      +e.select
        +b('select')(name="teacherId").input-select._small.__control
          +e('option').option(value="" selected) все преподаватели
          each teacher in teachers
            +e('option').option(value=teacher._id)= teacher.displayName
      +e.select
        +b('select')(name="stars").input-select._small.__control
          +e('option').option(value="" selected) с любой оценкой
          +e('option').option(value="5") с оценкой 5
          +e('option').option(value="4") с оценкой 4
          +e('option').option(value="3") с оценкой 3
          +e('option').option(value="2") с оценкой 2
          +e('option').option(value="1") с оценкой 1

    +e.feedbacks-list(data-feedback-container)

    +e.loader
      +b.page-loader
        +b('span').spinner._active._small
          +e('span').dot._1
          +e('span').dot._2
          +e('span').dot._3

  script window.FEEDBACK_LIST_INIT={ elem: document.querySelector('.course-feedbacks'), filter: { course: "#{course.slug}" } };
