
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

block content


  if !letters.length
    p Рассылок нет
  else
    table
      tr
        th #
        th Тема
        th Отправлена
      each letter, i in letters
        tr
          td= i+1
          td
            a(href="/courses/group-letters/edit/" + letter.id)= letter.title
          td= sentAt ? moment(letter.sentAt).format('DD.MM.YYYY HH:mm') : '—'


  +e("a")(href="/courses/group-letters/add") Создать новую рассылку
