
extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"
  - var breadcrumbs = [ { title: 'Учебник', url: '/' }, { title: 'Рассылки', url: '/courses/group-letters' }]
  - var content_class = '_center'


block content

  if error
    +b.notification._message._error
      +e.content!= error
      +e('button').close(title="Закрыть")


  +b("form").group-letter-form(method="POST" action="/courses/group-letters")
    input(type="hidden", name="_csrf", value=csrf())
    input(type="hidden", name="id", value=form.id)

    +e.form
      +e.line
        +e("label").label(for="title") Кому
        +b("span")(class=['text-input', errors && errors.title && '_invalid'])
          +e("input").control(type="text", minlength=10, required, name="title", id="title", value=form.title, autofocus)
          if errors && errors.title
            +e.err= errors.title
      +e.line
        +e("label").label(for="title") Тема
        +b("span")(class=['text-input', errors && errors.title && '_invalid'])
          +e("input").control(type="text", minlength=10, required, name="title", id="title", value=form.title, autofocus)
          if errors && errors.title
            +e.err= errors.title

      +e.line
        +e("label").label(for="content") Сообщение
        if errors && errors.content
          +e.err= errors.content
        +b('textarea').textarea-input#content(name="content" cols="80", rows="20")= form.content

      +e.line
        +b("button").button._action(type="submit")
          +e("span").text Отправить

