.newsletter-status
  text-align center

  &__highlighted
    color color_green
    font-weight bold

  &__fields
    margin-top 35px

  &__select
    margin 0 15px
    display inline-block

    +below('phone')
      margin 15px 0
      display block

  &__label
    font-size 13px
    line-height 17px
    color light_gray_color

  &__button
    margin-top 33px
    margin-bottom 18px

  &__button-text
    font-weight bold
    color color_red
