
@require "~styles/blocks/variables/variables"

@require "~codemirror/lib/codemirror.css"

@require "~styles/blocks/font/font-icons"

.mdeditor
    width 100%

    &__button-bar
        width 100%
        background-color #eeeeee
        border-top 1px solid #ccc
        border-left 1px solid #ccc
        border-right 1px solid #ccc
        height 36px

    &__button-row
        margin 2px 17px 0px 25px

    &__button
        width 20px
        height 20px
        display inline-block
        list-style none

        &[data-action="Bold"]::before
            @extend $font-bold
            &:hover
                cursor pointer

        &[data-action="Italic"]::before
            @extend $font-italic
            &:hover
                cursor pointer

        &[data-action="Link"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Blockquote"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Code"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Image"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Olist"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Ulist"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Heading"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Separator"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Undo"]::before
            @extend $font-link
            &:hover
                cursor pointer

        &[data-action="Redo"]
            &:hover
                cursor pointer
            &::before
                @extend $font-link

        &[data-action="Help"]
            float right
            margin-top 6px
            &::before
                @extend $font-link
            &:hover
                cursor pointer

    &__button-icon
        width 20px
        height 20px
        margin-left 5px
        margin-right 5px
        position absolute
        display inline-block



    &__input
        height 200px
        background-color #fff
        border 1px solid #cccccc

    &__preview
        box-sizing border-box
        padding 20px 0
        border-top 1px dotted #ccc
        border-bottom 1px dotted #ccc
        clear both
        margin 20px 0px 20px 0px
