include ../about-benefits/index

mixin about-banner(data)
  +b.about-banner
    +e('header').header
      +e('h1').title=data.title
        br
        +e('span').name=data.name 

      +e('hr').line
  
    block
