.price
  font 700 25px/1 secondary_font
  color #4d906b

  &__full-price
    display block
    font-size 12px
    text-decoration line-through
    color light_gray_color
    font-family font
    text-align center
    font-weight normal

  &__secondary
    font 14px font
    color light_gray_color

  &_discount
    color color_red
