include ../blocks/newsletter-failed/index
include ../blocks/newsletter-release-form/index
include ../blocks/newsletter-layout/index
include ../blocks/newsletter-test/index
include ../blocks/newsletter-status/index
include /blocks/mdeditor

extends /layouts/main

block append variables
  -
    var sitetoolbar = true
    var layout_main_class = "main_width-limit"
    var layout_header_class = "main__header_center"
    var header = false
    var breadcrumbs = [
      { title: 'Учебник', url: '/' }, { title: 'Рассылки', url: '/newsletter/admin/newsletter-releases' }
    ]

block append head
  !=js("newsletterAdmin", {defer: true})
  !=css("newsletterAdmin")

block content

  if error
    +b.notification._message._error
      +e.content!= error
      +e('button').close(title="Закрыть")

  +newsletter-layout()
    +e.section
      +newsletter-release-form(form)

    +e.section
      +newsletter-test()

    +e.section
      +newsletter-status({
        status: 'new'
      })


