
include /bem
include /blocks/input-select/index

-
  bem_chain = ['newsletter-release-form']


+e.group
  +input-select({
    size:  'small',
    selected: '',
    items: [
      {
        value: '',
        text:  'Включить'
      },
      {
        value: 'exclude',
        text:  'Исключить'
      }
    ]
  })(name='to-exclude-' + i class='newsletter-release-form__select newsletter-release-form__select_small')

  +input-select({
    size:     'small',
    selected: '',
    items:    [
                {
                  value: '',
                  text:  '-----------'
                }
              ].concat(toVariants)
  })(name='to-'+i class='newsletter-release-form__select newsletter-release-form__select_middle' required)

  +e('a')(href='#' data-newsletter-to-delete).remove

