extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Обмен документами';
  - var sitetoolbar = true


block content

  p Мы стремимся минимизировать "бумажную" составляющую документооборота, поэтому предлагаем юр. лицам несколько вариантов оформления сотрудничества.

  ol
    li
      p Услуги оказываются по <a href="/courses-offer">договору-оферте</a>.
      p.
        Если вашей бухгалтерии не нужно документально подтверждать расходы, то этот вариант самый удобный.
        В этом случае при оформлении заказа галочку в пункте "Нужен договор" не ставьте.

    li
      p.
        Если вашей бухгалтерии подтверждать расходы необходимо, то заметим,
        что договоре есть пункт о признании юридической силы за документами, полученными по email.
        Поэтому для отчётности достаточно электронных версий договора и акта с подписью и печатью ("сканов").

      p Точная цитата из договора:

      blockquote.quote
        .quote_i
          .quote__text.
            Стороны признают юридическую силу за электронными письмами – дoкyмeнтaми, направленными по электронной почте (e-mail), и признают их равнозначными дoкyмeнтaм на бумажных носителях, подписанным собственноручной подписью, т.к. только сами Стороны и уполномоченные ими лица имеют доступ к соответствующим адресам электронной почты, указанным в Договоре в реквизитах Сторон и являющимся электронной подписью соответствующей Стороны. Доступ к электронной почте каждая Сторона осуществляет по паролю и обязуется сохранять его конфиденциальность.

      p.
        В соответствии со ст.434 ГК РФ, такой договор считается заключённым.
        Исходя из п. 2 ст. 6 Закона об ЭП электронные документы,
        обращающиеся в рамках соглашений между участниками электронного взаимодействия,
        подписанные простой ЭП, признаются для целей бухгалтерского учета и налогообложения равнозначными
        документу на бумажном носителе, если это указано в соглашениях.

      p.
        Поэтому законом такой вариант вполне допустим.
        Согласуйте это с бухгалтерией и, если электронные версии приемлемы, то почтовый адрес при оформлении заказа не вводите.
        Вместо этого после оформления заказа напишите на адрес <a href="mailto:mk@javascript.ru">mk@javascript.ru</a>, сообщив номер заказа, и я вышлю документы в электронном виде.

    li
      p.
        Если обязательно нужен бумажный вариант, то заполните почтовый адрес. При этом мы будем обмениваться документами с обоих сторон.

      p.
        В этом случае регламент таков: после оформления заказа вам предлагается скачать с сайта договор и акт.
        Распечатываете, подписываете их в двух экземплярах и присылаете на адрес, указанный в договоре.
        Получив их, один экземпляр я подписываю со своей стороны и отправляю вам, по указанному вами адресу.

      p.
        Мы предпочли бы обойтись без бумажного документооборота, но если бухгалтерия настаивает, то такой вариант также возможен.
