include ../reviews/courses-feedback-inline

+courses-feedback-inline({
    slides: [{
      title: 'Курс JavaScript/DOM/Интерфейсы',
      rating: 3,
      allReviewsHref: './js',
      text: 'Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который Очень доволен данным курсом.Я сам из Республики Беларусь.Практический все, с кем я общался по js, хоть раз да заходили на ваш сайт. Если кто-то решится из РБ пройти этот курс, рекомендую. Понравилось: подача материала, расставленные приоритеты в изучении, только актуальные данные , а не устаревшая информация. Мне не хватило пару занятий по организации проекта на js и про шаблоны. Хотел пройти курс у человека, который',
      author: 'Александр Луговой',
      img: 'http://cryazone.com/uploads/posts/2011-08/quentin-tarantino-photo-by-nicolas-guerin.jpg',
      address: {
        country: 'russia',
        name: 'Россия, Москва'
      }
    }, {
      title: 'Курс JavaScript/DOM/Интерфейсы',
      rating: 5,
      allReviewsHref: './js1',
      text: '222',
      author: 'Александр Луговой',
      img: 'http://cryazone.com/uploads/posts/2011-08/adrien-brody-photo-by-nicolas-guerin.jpg',
      address: {
        country: 'usa',
        name: 'США, Нью-Йорк'
      }
    }, {
      img: 'http://cryazone.com/uploads/posts/2011-08/takeshi-kitano-photo-by-nicolas-guerin.jpg'
    }, {
      title: 'Курс JavaScript/DOM/Интерфейсы Курс JavaScript/DOM/Интерфейсы',
      rating: 5,
      allReviewsHref: './js2',
      text: '222',
      author: 'Александр Луговой Александр Луговой',
      img: 'http://cryazone.com/uploads/posts/2011-08/adrien-brody-photo-by-nicolas-guerin.jpg',
      address: {
        country: 'usa',
        name: 'США, Нью-Йорк'
      }
    }, {
      title: 'Курс JavaScript/DOM/Интерфейсы',
      rating: 5,
      allReviewsHref: './js3',
      text: '222',
      author: 'Александр Луговой',
      img: 'http://cryazone.com/uploads/posts/2011-08/adrien-brody-photo-by-nicolas-guerin.jpg',
      address: {
        country: 'usa',
        name: 'США, Нью-Йорк'
      }
    }]
  })
