extends /layouts/email

block body
  h1= group.title

  p Закончилась группа #{group.title}!

  p.
    Обычно после окончания группы рассылается письмо участникам с поздравлениями и предложением оставить отзыв на сайте.



