extends /layouts/email

block body
  h1= group.title

  p Скоро группа: #{group.title}!

  p.
    Вы, наверное, уже разослали приветственное письмо участникам?

  p.
    За день до начала группы рекомендуется зайти в рассылку и "дослать" приветственное письмо.
    При этом его получат только те, кто присоединился к группе после прошлой рассылки, и поэтому не получил его ранее.

  p Перед тем, как досылать, в письмо можно внести изменения.

  p Также (или взамен досылки) можно отправить письмо-напоминание участникам, чтобы они точно не пропустили занятие.



