extends /layouts/email

block body
  h1= group.title

  p Примерно через неделю у вас группа #{group.title}!

  p.
    Обычно перед началом группы рассылается приветственное письмо участникам с просьбой что поставить до курсов, краткой инструкцией по началу занятий,
    а также выкладываются материалы.



