include /bem

+b.mdeditor
  +e.editor
    +e.button-bar
      each button in buttons
        if button == '|'
          +e.button-separator
        else
          - var tooltip = t('mdeditor.buttons.'+ button);
          - if (navigator.userAgent.indexOf('Mac OS X') != -1) tooltip = tooltip.replace('Ctrl', 'Cmd')
          +e('button').button(data-action=button data-tooltip=tooltip)

    +e('textarea').input
    +e.footer
      +e.resize-handle(data-mdeditor-resize)
  +e.title-preview
    +e('h2') Предпросмотр
  +e.preview(data-editor-preview)

