include ../blocks/about-banner/index
include ../blocks/about-benefits/index
include ../blocks/about-layout/index
include ../blocks/about-map/index
include ../blocks/about-text/index
include ../blocks/about-list/index
include ../blocks/about-humans/index

extends /layouts/main

block append variables
  - var headTitle = 'Современный учебник Javascript';
  - var sitetoolbar = true
  - var header = false
  - var layout_page_class = 'page_contains_header'
  - var mainclass = 'main-headered'

block append head
  !=css('about')
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  !=js('about', {defer: true})
  //- google maps will call about.init() when loaded
  script(defer src='https://maps.googleapis.com/maps/api/js?v=3.exp&&callback=about.init')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')

block content
  +about-banner({
    title: 'some facts about',
    name: 'Javascript.info'
  })
    +about-benefits({
      items: [
        {
          num: 2,
          text: ['conferences', 'JS. Talks']
        },
        {
          num: 4940,
          text: ['participants of offline', 'master classes']
        },
        {
          num: '>2000',
          text: ['participants of online', 'courses']
        },
        {
          num: '>100000',
          text: ['visitors per month', '(based on last year)']
        },
        {
          num: '>24000',
          text: ['lines of JS code in the', 'open-source site repository']
        },
        {
          num: '>93000',
          text: ['lines in JavaScript', 'tutorial']
        }
      ]
    })
  +about-layout()
    +e.col
      +about-text({
        title: 'About the project'
      })
        p 
          | The project javascript.ru was launched in 2007 and since then 
          | hosts one of the biggest russian-speaking JavaScript communities.
          | JavaScript.info is a part of javascript.ru rewritten into 
          | English. The purpose of our project is:
          
        +about-list({
          items: [
            'Provide competent, up-to-date information about JavaScript and related technologies.',
            'Popularize modern frontend technologies.',
            'Organize online and offline JavaScript-related events.',
            'Develop the JavaScript community and knowledge sharing.'
          ]
        })
        p
          | This site as well as the book about JavaScript are open-source 
          | projects which you can find on&nbsp;
          a(href='https://github.com/iliakan/javascript-nodejs') github
          | .
            
    +e.col
      +about-text({
        title: 'People'
      }) 
        +about-humans({
          items: [
            {
              image: '/about/iliakan.jpg',
              name: 'Ilya Kantor',
              url: 'https://www.linkedin.com/in/iliakan',
              role: 'Founder, trainer, JS-developer'
            },
            {
              image: '/about/bezart.jpg',
              name: 'Artem Beztsinniy',
              url: 'http://bezart.me/',
              role: 'UX-designer'
            },
            {
              image: '/about/tyv.jpg',
              name: 'Yuri Tkachenko',
              url: 'https://ua.linkedin.com/in/tkachenkoyuri',
              role: 'HTML/CSS and related techs guru'
            },
            {
              image: '/about/amax.jpg',
              name: 'Alexey Maximov',
              url: 'https://www.linkedin.com/pub/aleksey-maximov/54/b76/215',
              role: 'Admin'
            },
          ]
        })

  +about-map({
    title: 'Geography of offline events'
  })
  
  +about-layout()
    +e.col
      +about-text({
        title: 'Participate in the project'
      })
          p
            | ЕIf you have ideas how to improve the site engine or the content, 
            | please file an issue or suggest a PR on the&nbsp;
            a(href='https://github.com/iliakan/javascript-nodejs') github
            | .

    +e.col
      +about-text({
        title: 'Принять участие в проекте',
        center: true
      })
        p Ilya Kantor
        p
          a(href='mailto:iliakan@javascript.ru') iliakan@javascript.ru
          br
          | +79035419441
