include ../blocks/about-banner/index
include ../blocks/about-benefits/index
include ../blocks/about-layout/index
include ../blocks/about-map/index
include ../blocks/about-text/index
include ../blocks/about-list/index
include ../blocks/about-humans/index

extends /layouts/main

block append variables
  - var headTitle = 'Современный учебник Javascript';
  - var sitetoolbar = true
  - var header = false
  - var layout_page_class = 'page_contains_header'
  - var mainclass = 'main-headered'

block append head
  !=css('about')
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  !=js('about', {defer: true})
  //- google maps will call about.init() when loaded
  script(defer src='https://maps.googleapis.com/maps/api/js?v=3.exp&&callback=about.init')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')

block content
  +about-banner({
    title: 'проект',
    name: 'Javascript.ru'
  })
    +about-benefits({
      items: [
        {
          num: 2,
          text: ['конференции', 'JS. Talks']
        },
        {
          num: 4940,
          text: ['участников очных', 'мастер-классов']
        },
        {
          num: 1255,
          text: ['участников', 'дистанционного обучения']
        },
        {
          num: '>282000',
          text: ['посетителей в месяц', '(на основе последнего года)']
        },
        {
          num: '>24000',
          text: ['строк на js в', 'open-source коде сайта']
        },
        {
          num: '>93000',
          text: ['строк в учебнике', 'Javascript']
        }
      ]
    })

  +about-layout()
    +e.col
      +about-text({
        title: 'О проекте'
      })
        p 
          | Javascript.ru был запущен в 2007 году и с тех пор стал одним из 
          | крупнейших русскоязычных | порталов по JavaScript. Сегодня 
          | основные цели проекта это:
          
        +about-list({
          items: [
            'Предоставлять грамотную и актуальную информацию по JavaScript и смежным технологиям.',
            'Популяризировать современные фронтенд-технологии.',
            'Проводить онлайн и оффлайн-мероприятия по обучению JavaScript.',
            'Создание сообщества JS-разработчиков и обмен знаниями.'
          ]
        })
        p
          | Код этого сайта и содержимое учебника по Javascript находится в 
          | open-source доступе и его можно посмотреть на&nbsp;
          a(href='https://github.com/iliakan/javascript-nodejs') github
          | .

    +e.col
      +about-text({
        title: 'Люди'
      }) 
        +about-humans({
          items: [
            {
              image: '/about/iliakan.jpg',
              name: 'Илья Кантор',
              url: 'https://ikantor.moikrug.ru/',
              role: 'Координатор, тренер, JS-разработчик'
            },
            {
              image: '/about/bezart.jpg',
              name: 'Артем Безценный',
              url: 'http://bezart.me/',
              role: 'UX-дизайнер'
            },
            {
              image: '/about/tyv.jpg',
              name: 'Юрий Ткаченко',
              url: 'https://ua.linkedin.com/in/tkachenkoyuri',
              role: 'На дуде игрец'
            },
            {
              image: '/about/amax.jpg',
              name: 'Алексей Максимов',
              url: 'https://www.linkedin.com/pub/aleksey-maximov/54/b76/215',
              role: 'Админ'
            },
          ]
        })

        +e('p') 
          | А также 
          =' '
          a(href='https://github.com/iliakan/javascript-nodejs/blob/master/CONTRIBUTORS.md') другие контрибьюторы
          | .

  +about-map({
    title: 'География офлайн событий'
  })

  +about-layout()
    +e.col
      +about-text({
        title: 'Принять участие в проекте'
      })
          p
            | Если у вас есть идеи по улучшению работы сайта либо содержимого 
            | учебника по Javascript, не стесняйтесь присылать их нам либо 
            | заходите на наш&nbsp;
            a(href='https://github.com/iliakan/javascript-nodejs') github
            | .

    +e.col
      +about-text({
        title: 'Связаться с нами',
        center: true
      })
        p Илья Кантор
        p
          a(href='mailto:iliakan@javascript.ru') iliakan@javascript.ru
          br
          | +79035419441
