include /bem


mixin mdeditor(options)
  -
    var buttonSets = {
      standard: 'bold italic | link ul ol | code fencedCode'.split(' ')
    };

  +b.mdeditor(class=[options.editorClass || ''])
    +e.editor
      +e.button-bar
        each button in buttonSets[options.buttonSet || 'standard']
          if button == '|'
            +e.button-separator
          else
            - var tooltip = t('mdeditor.buttons.'+ button);
            +e('button').button(data-action=button data-tooltip=tooltip)

      +e('textarea').input(name=options.textareaName)= options.value
      +e.footer
        +e.resize-handle(data-mdeditor-resize)
    +e.title-preview
      +e('h2') Предпросмотр
    +e.preview(data-editor-preview)

