//- __notification - потому что одновременно является элементом родителя, .sitetoolbar
+b.notification._top._info.__notification(style="display:none" id="notify-webnames")
  +e.content.
    У нас временные проблемы с картинками в примерах. Регистратор <a href="http://www.webnames.ru/">Webnames</a> не продлил домен js.cx, на котором мы их храним (хотя мы оплатили вовремя), и сайт статики отключился.
    На письма и звонки не отвечают, "выходные" у них. Скажем "спасибо" Webnames!
  +e('button').close(title="Закрыть")

script
  :uglify
    head.showTopNotification();
