//- __notification - потому что одновременно является элементом родителя, .sitetoolbar
+b.notification._top._info.__notification(style="display:none" id="notify-markdown")
  +e.content.
    Мы перевели внутренний парсер на модуль <a href="https://github.com/markdown-it/markdown-it">markdown-it</a>.
    Поставьте, пожалуйста, ему <svg style="display:inline-block;margin-bottom:-3px" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg> на <a href="https://github.com/markdown-it/markdown-it">github</a>!
  +e('button').close(title="Закрыть")

script
  :uglify
    head.showTopNotification();
