.about-benefits
  position absolute
  bottom 30px
  width 100%
  text-align center

  &__list
    display inline-table
    width 100%
    max-width 1200px

    +below('small-tablet')
      display block
      text-align center

  &__item
    display table-cell
    padding 0 10px
    text-align center

    +below('small-tablet')
      display inline-block
      margin-top 20px

  &__num
    font-size 2.8vw
    line-height 2.8vw
    font-weight bold

    +below('tablet')
      font-size 16px

    +above('largescreen')
      font-size 42px
      line-height 42px

  &__description
    margin 10px 0 0 0
    opacity 0.6

    +below('tablet')
      font-size 12px
