extends /layouts/main

block append variables
  - var sitetoolbar = true
  - var title = 'oauth'

block content
  form(method="POST" action="/dropbox/oauth")
    p You must be logged in to Dropbox already with the right account.
    div
      label
        | Slug:
        input(type="text" name="state")
    div
      input(type="submit" value="submit")
