extends /layouts/email

block body

  p Здравствуйте,

  p Администратор на сайте #{site} загрузил для вас документы по заказу #{order.title}.

  p
    | Вы можете скачать их в виде архива по ссылке&nbsp;
    a(href=documentsUrl)= documentsUrl
    | .

  p
    | P.S. Посмотреть информацию о заказе вы также можете в своём личном кабинете, по ссылке&nbsp;
    a(href=profileOrdersUrl)= profileOrdersUrl
    | .



