.newsletter-releases

    &__edit
        display inline-block
        width 20px
        height 20px
        &::before
            @extend $font-edit

    &__send
        display inline-block
        width 20px
        height 20px
        &::before
            @extend $font-mail
