+b.courses-parts.courses-mix
  +e('h2').title Основные темы программы

  +b.tabbed-pane._01

    +e('ul').tabs
      +e('li').tab._01 Первая часть курса
      +e('li').tab._02 Вторая часть курса
      +e('li').tab._03 Третья часть курса

    +e.body._01
      +e('h2').title.phone-only Первая часть курса
      ol
        li
          strong Быстрый старт с AngularJS
          ul
            li Приложение за 5 минут.
            li Директивы "из коробки" и шаблонизация в AngularJS.
            li Магия двустороннего связывания.
            li Детали конструктора директив.
            li Вложенные директивы, наследование и передача данных (<code>scope</code>).
            li Компоненты и их отличие от директив
        li
          strong Сервисы
          ul
            li Организация service provider'ов и зависимостей.
            li Встроенные сервисы AngularJS.
            li Написание своих сервисов, отличия между реализациями провайдера.
            li Понимание асинхронных операций и сервис промисов $q
            li Работа с API c помощью $html. $resource и Restangular.
            li Ресурсы данных. Использование Firebase.
        li
          strong Редактирование данных, модель и формы в AngularJS
          ul
            li Модель, директива <code>ng-model</code>.
            li Удобная валидация форм.
            li Переопределение и раширение валидаторов.
            li Подлючение контроллера директивы и использование ngModelController
            li $formatters и $parsers
            li Автоматичский показ ошибок, <code>ng-message</code>.

        li
          strong Навигация и маршрутизация
          ul
            li Библиотеки для организации маршрутизации.
            li Роутер ui-router. Компонентный подход организации состояний.
            li Вспомогательные директивы ui-router.
            li Управление состояниями: <code>$state</code> и <code>$stateProvider</code>.
            li Вложенные и абстрактные стейты.
            li Предзагрузка данных по средством resolve.
            li События ui-router и отладка.
            li ui-router 1alpha

      p.
        По окончанию первой части курса вы понимаете, как разработать на AngularJS несложное приложение для вывода и редактирования данных.

    +e.body._02
      +e('h2').title.phone-only Вторая часть курса
      ol
        li
          strong Авторизация в приложении

          ul
            li Интерфейс для авторизации на AngularJS
            li Интерцептор для проверки прав.
            li Роль роутера в ограничеснии прав доступа
            li Варианты организации ACL с помощью ui-router

        li
          strong Организация приложения на диске
          ul
            li Файловая структура.
            li Модульный и компонентный и модульно-компонентный подходы.
            li Angular и модульность EcmaScript2015
            li WebPack для сборки.

        li
          strong Автоматизированные тесты.
          ul
            li Unit-тесты и TDD (вместе с jasmine и karma).
            li Специфика тестирования сервисов, директив и компонентов.
            li Собираем тесты с помощью webpack
            li Проверяем покрытие кода тестами
            li Функциональные(e2e) тесты с использованием protractor.

    +e.body._03
      +e('h2').title.phone-only Третья часть курса
      ol

        li
          strong отладка приложения
          ul
            li разбор сущностей AngularJS в консоли
            li обзор вспомогательных инструментов
            li погружение в исходный код фреймворка
        li
          strong Еще раз о директивах и компонентах
          ul
            li Использование сервиса <code>$compile</code>.
            li вложенные директивы с transclude.
            li работа хуков для компонента ($onInit, $onChanges, $onDestroy, $postLink)

        li
          strong Интеграция со сторонними модулями
          ul
            li Сторонние плагины, не знающие про AngularJS
            li <code>$scope.watch</code>
            li <code>$scope.apply</code>
            li События, <code>ng-events</code> на <code>$scope</code>
            li Переопределение и расширение сторонних сервисов. Использование декораторов
        li
          strong Возможные проблемы и их решение
          ul
            li <code>$watch</code> и проблемы производительности
            li Серверный рендеринг, поисковики
            li Подгрузка модулей на лету
            li AngularJS и Drag'n'Drop

        li
          strong Возможное будущее, краткая информация про Angular 2.0
          ul
            li подготовка проекта к переходу на 2.0


  script.
    var className = 'tabbed-pane', block = document.querySelector('.' + className);

    block.querySelector('.' + className + '__tabs').addEventListener('click', function(e) {
       block.className = className + ' ' + className + '_' +  e.target.className.split('_').pop();
    });



