.about-map
  background #fbfafa

  &__title
    line-height initial
    padding 25px
    text-align center

  &__map-container
    height 500px

  .leaflet-map-pane
    z-index 2

  .leaflet-google-layer
    z-index 1
