extends /layouts/email

block body

  p Здравствуйте,

  p Подтверждаем, что на сайте #{site} выписан счёт на оплату по заказу #{order.title}.

  p
    | Вы можете скачать квитанцию по ссылке&nbsp;
    a(href=invoiceUrl)= invoiceUrl
    | .


  p Квитанция действительная в течение 3 дней.

  p Уведомлять об оплате не обязательно, банк сам предоставит эту информацию. Оплаченную квитанцию на всякий случай сохраняйте.

  p
    | P.S. Посмотреть информацию о заказе вы также можете в своём личном кабинете, по ссылке&nbsp;
    a(href=profileOrdersUrl)= profileOrdersUrl
    | .



