+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет проходить по схеме 1 + 6 + 2 + 1, т.е. организационое собрание перед первой встречей.
      Затем мы с вами пройдем 3 блока (6 занятий), на которых разберем основы и инфраструктуру React,
      научимся строить приложения с использованием Redux.
      Сделаем каникулы, во время которых вы сможете освоиться с пройденным материалом.
      А на последних 2-х уроках мы будем учиться разрабатывать более сложные SPA с использованием react-router и advanced API Реакта.
      После окончания основной программы рекомендую посмотреь скринкаст по Flux от Facebook,
      таким образом вы получите навыки работы как с классическими, так и с современными подходами к приложениям на React.js.
      Это даст более глуюокое понимание архитектуры и позволит легко перестраиваться на новые инструменты в будущем.
      Через несколько недель после окончания курса мы организуем еще одну встречу,
      чтобы вы могли задать все вопросы, которые накопятся за время самостоятельного использования этой технологии.

    p На каждом занятии мы изучаем что-то новое. После встречи даётся домашнее задание.

    p.
      На следующем занятии мы смотрим, что и как получилось решить и как сделать лучше.
      Чтобы получить от курса максимум результата, нужно не только слушать, но и делать что-то дома, а затем – показывать преподавателю.
      Только так, постепенно, с обратной связью от преподавателя, создавая проект на React, вы действительно разберётесь c этой технологией.

