+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа

        p.
          Курс даст возможность быстро начать создавать свои приложения с использованием
          фреймворка будущего - Angular2.
          В процессе прохождения курса шаг за шагом вы сделаете реальное приложение,
          и хорошо разберетесь в специфике Angular2.

        p Вы будете получать информацию, писать код, показывать его, получать обратную связь и советы, и затем – двигаться дальше.

        p Мы внимательно следим за развитием Angular2 и будем использовать самые новые подходы (наданный момент это rc.4)

        p Курс можно условно разделить на три части.

        ol
          li
            +e.text Компоненты и компонентный подход. 
          li
            +e.text Инжектируемые сущности и реактивное програмирование
          li
            +e.text Архитектура приложений, организация проекта и взгляд во внутрь фреймворка.

        p Детали программы смотрите далее.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          include ../signup

          p Количество участников в группе ограничено.

          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет.

            p Вы можете запросить уведомления о наборе новых групп по этой программе, следующий набор планируется в течение нескольких недель.

            include ../subscribe

          p Стоимость обучения – порядка 150-250$. Время обучения: примерно полтора месяца, точные даты будут при открытии записи.

          include ../teachers
