+b.courses-parts.courses-mix
  +e('h2').title Основные темы программы

  +b.tabbed-pane._01

    +e('ul').tabs
      +e('li').tab._01 Первая часть курса
      +e('li').tab._02 Вторая часть курса
      +e('li').tab._03 Третья часть курса

    +e.body._01
      +e('h2').title.phone-only Первая часть курса
      ol
        li
          strong Введение  в TypeScript
          ul
            li Введение в TypeScript
            li Система типов
            li Классы и интерфейсы
            li Определение модулей
            li Импортирование модулей

          strong Быстрый старт с AngularJS
          ul
            li TodoMVC на Angular2
            li Что такое компонент?
            li Разработка простого компонента.
            li Специфика синтаксиса шаблонов Angular2
            li Вложенные компоненты
        li
          strong Директивы (Directives)
          ul
            li Что такое директивы?
            li Контроль элементов на странице ngIf/ ngSwitch
            li Динамические стили с ngClass/ngStyle
            li Вывод списка используя  ngFor
        li
          strong Взаимодействие компонентов
          ul
            li Связывание данных (data binding)
            li Передача данных в компонент
            li Связывание данных через событие  (Event binding)
            li Способы межкомпонентной коммуникации

      p.
        По окончанию первой части курса вы понимаете, как разработать на простое приложение на AngularJS2.

    +e.body._02
      +e('h2').title.phone-only Вторая часть курса
      ol
        li
          strong Сервисы и внедрение зависимостей (Dependency injection)
          ul
            li Что такое  сервис?
            li Создание своего сервиса
            li Использование сервисов в копонентах
            li Инектирование сервиса в сервис
            li Способы создания @Injectable сущностей

        li
          strong Основы реактивного программирования (RxJS)
          ul
            li Учимся мыслить потоками
            li Observer и Iterator паттерны
            li Управление потоками

        li
          strong Работа с HTTP
          ul
            li API HTTP провайдера
            li Обработка ошибок и отмена запросов
            li Последовательные и параллельные вызовы

        li
          strong Фильтрация данных
          ul
            li Что такое pipe?
            li Построение цепочек фильтраций
            li Фильтры из коробки
            li Создание собственных фильтров

        li
          strong Работа с формами
          ul
            li Валидация и связывание моделью
            li Директивы валидации
            li Контроль за состоянием валидации

        li
          strong Навигация и маршрутизация
          ul
            li Определение состояний
            li Вложенные состояния
            li Сервис для доступа к параметра состояния
            li Авторизация и контроль доступа к состояниям

    +e.body._03
      +e('h2').title.phone-only Третья часть курса
      ol

        li
          strong Проверка курсовых проектов
        li
          strong Заглядываем внутрь компонетов
          ul
            li Жизненный цикл компонента
            li Механизм обновления состояния (change detection)
        li
          strong Организация приложения на диске
          ul
            li Файловая структура и компонентый подход.
            li Вариант систем сборки (WebPack, SystemJs, angular-cli)
        li
          strong Автоматизированные тесты
          ul
            li Unit-тесты и TDD (вместе с jasmine и karma)
            li Специфика тестирования компонентов и внедряемых сущностей
            li Собираем тесты с помощью webpack
            li Проверяем покрытие кода тестами.
            li Функциональные(e2e) тесты с использованием protractor.
        li
          strong Отладка приложения
          ul
            li Разбор сущностей Angular2 в консоли
            li Обзор вспомогательных инструментов
            li Погружение в исходный код фреймворка

script.
    var className = 'tabbed-pane', block = document.querySelector('.' + className);

    block.querySelector('.' + className + '__tabs').addEventListener('click', function(e) {
       block.className = className + ' ' + className + '_' +  e.target.className.split('_').pop();
    });



