+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы знаете, как быстро сделать прототип проекта, а после чего превратить его в большое структурное веб приложение, стабильно работающее и не имеющее проблем с производительностью.
      li Вы разбираетесь в исходном коде фреймворка и он является лучшей документацией для вас.
      li Вы хорошо понимаете тонкости Angular2, его декларативный стиль и компонентный подход.
      li Вы готовы к релизу фремворка и находитесь на гребне волны новой технологии.
