+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы знаете, как быстро сделать прототип проекта, а после чего превратить его в большое структурное веб приложение, стабильно работающее и не имеющее проблем с производительностью.
      li Вы хорошо понимаете тонкости компонентного подхода Angular2.
      li Вы эффективно работаете как с фреймворком, так и со всей Angular2 экосистемой.
      li Вы готовы к релизу фремворка и находитесь на гребне волны новой технологии.
