@require '~styles/blocks/variables/variables'

@require 'newsletter-failed'
@require 'newsletter-status'
@require 'newsletter-test'
@require 'templates-list'
@require 'templates-item'
@require 'templates-form'
